    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                    <p>There are millions of open-source software projects and libraries available on the internet and many more get added every day.</p>

                    <p>As a prospective user of open source software, you probably find yourself going through a process
            something like this:
                                    <ol>
                <li>Search for candidate projects you could use to solve a particular problem</li>
                <li>Evaluate various projects that meet your search criteria</li>
                <li>Visit each of their project sites and source code repositories to try to determine things like maturity of the project, size and activity level of the community, responsiveness to issues</li>
                <li>Look around on StackOverflow, Twitter and various discussion forums to see what people are saying about it</li>
            </ol>

             OSSRank attempts to automate this whole process by:
            <ol>
                <li>Discovering open-source projects by collecting their metadata from GitHub</li>
                <li>Classifying them into a growing list of specified categories</li>
                <li>Collecting data about them from StackExchange & finding their social footprint on Twitter</li>
                <li>Continuously evaluating them and tracking their growth over time</li>
                <li>Ultimately ranking each project within its categories</li>
            </ol>

            In the future we plan to add sentiment analysis of tweets and security analysis as part of the ranking.


                    </p>

                </div>
            </div>
        </div>
    </section>
