<div class="container-fluid">
    <div class="row">
         <div class="col-sm-10 ">
           <h3><small>About </small>     OSSRank   </h3>
          <div class="row">
            <div class="col-xs-8 col-sm-14 ">
              With millions of <strong>open-source </strong> software  and libraries available in the internet and many more getting added every day,
              It is not easy to have a overview of them.Nor do we know about their capability or their overall standard.
              OSSRank is our effort to contribute to open-source community by <strong>automatically </strong>
              <ol>
                <li><strong>Discovering open-source tools</strong></li>
                <li><strong>Classifying them in a specific(or multiple) category</strong></li>
                <li><strong>Collcting data about them from stackexchange & finding their social footprint in twitter</strong></li>
                <li><strong>Continueously evaluating them and tracking their growth over a timeline.</strong></li>
                <li><strong>Above all giving them suggetsive rank in their specific category</strong></li>
              </ol> 
                 
              In future we plan to do much more adding sentiment analysis of the feeds in twitter, and add security analysis as part of our evaluation.

            </div>
            
          </div>
        </div>
      </div>
      
      
    </div>

