<div class="col-xs-4 top-buffer">
    <h4>Search</h4>
    <input type="text" placeholder="Enter keywords" id="searchInput" ng-keydown="checkKeyDown($event)" class="form-control" ng-model="searchText" ng-change="search()"/>
    <ul id="suggestions" class="suggestions-list">
       <li ng-repeat="suggestion in suggestions" class="blockSpan" 
           ng-click="addToSelectedTags($index)" ng-mouseover="$parent.selectedIndex=$index" 
           ng-class="{active : selectedIndex===$index}">{{suggestion}}</li>
     </ul>
    <small>Enter a type of technology (e.g. Javascript framework) or the name of an open source project</small>
</div>

<div class="tags-wrapper col-xs-8 top-buffer">
    <div id="tagsList" class="tags-cloud">
        <h4>Your Criteria</h4>
        <div ng-repeat="selectedTag in selectedTags" class="tag">
            <span class="tagName">{{selectedTag}}</span>
            <span>&nbsp;<b ng-click="removeTag($index)" class="fa fa-times cross"></b></span>
        </div>
    </div>
</div>

<div class="col-lg-12">
        <span ng-if="projects.length > 0" class="">
          <div class="panel panel-info">
            <div class="panel-heading"><h5><i class="glyphicon glyphicon-eye-open"></i> Projects </h5>  
             </div>
            <div class="panel-body">
                <div ng-repeat="project in filteredProjects">
          <div class="row">
          <div class="col-xs-2 col-sm-2 col-lg-2 "><a href="/#/project/{{project._id.$oid}}"><strong>{{project.name}}</strong></a></div>
            <div class="col-xs-2 col-sm-7 col-lg-2 ">
              <p class="info"><i class="glyphicon glyphicon-tags"></i> <mark>{{project._category}}</mark></p>
            </div>
           </div>
           <div class="row">
                <div class="col-xs-8 col-sm-8  "><small> {{project.description}}</small></div>
           </div>
         
       </div>
               <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" max-size="maxSize" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged(currentPage)"></pagination>
            </div>
        </div>
        </span>

  </div>
 <br>
 <br>




