<div class="col-xs-4 top-buffer">
    <h4>Search</h4>
    <input type="text" placeholder="Enter keywords" id="searchInput" ng-keydown="checkKeyDown($event)" class="form-control" ng-model="searchText" ng-change="search()"/>
    <ul id="suggestions" class="suggestions-list">
       <li ng-repeat="suggestion in suggestions" class="blockSpan" 
           ng-click="addToSelectedTags($index)" ng-mouseover="$parent.selectedIndex=$index" 
           ng-class="{active : selectedIndex===$index}">{{suggestion}}</li>
     </ul>
</div>

<div class="tags-wrapper col-xs-8 top-buffer">
    <div id="tagsList" class="tags-cloud">
        <h4>Your Criteria</h4>
        <div ng-repeat="selectedTag in selectedTags" class="tag">
            <span class="tagName">{{selectedTag}}</span>
            <span>&nbsp;<b ng-click="removeTag($index)" class="fa fa-times cross"></b></span>
        </div>
    </div>
</div>

<div class=".col-xs-offset-4 top-buffer" style="clear:both;">
    <h4>Matching Projects</h4>
</div>
