<section id="taxonomy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="text-info">Taxonomy</h3>
            </div>
        </div>
        <div class="row">
            <p>The OSS Taxonomy helps to classify a Free and Open-Source (FOSS) project. It is important because classification of a project shows the relationships between it and its contemporaries. It also helps the user to compare between similar projects and choose one that best suits their need. Classification of project is one of the prerequisites before it  can be compared and ranked in a meaningful way.</p>
            <p><small>To achieve this goal, OSSRank has defined an initial set of categories and associated a set of keywords with them. These categories ad keywords are continously updated as new generation technologies or project types appear.</small></p>
            <p><small>The following categories are currently analyzed and supported by <em>OSSRank</em>:</small></p>
            <ul>
                <li ng-repeat="x in categories">
                    <em>{{ x.name }}</em>
                </li>
            </ul>
        </div>
    </div>
</section>
