<!DOCTYPE html>{% autoescape true %}
<html>

<head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>

<body>

    <div class="container-fluid">
        <table class="table table-striped">
            <tr>
                <th>Project</th>
                <th>Stars</th>
                <th>Forks</th>
                <th>Owner</th>
            </tr>
            {% for project in projects['items'] %}
            <tr>
                <td>{{project['name']}}</td>
                <td>{{project['stargazers_count']}}</td>
                <td>{{project['forks_count']}}</td>
                <td>{{project['owner']['login']}}</td>
            </tr>
            {% endfor %}
        </table>


        <h2>{{keywords}}</h2>
        <h4>{{mode}}</h4>
        <table class="table table-striped">
            <tr>
                <th>By</th>
                <th>Tweet</th>
            </tr>
            {% for tweet in tweets %}
            <tr>
                <td>{{tweet['user']['name']}}</td>
                <td>{{tweet['text']}}</td>
            </tr>
            {% endfor %}
        </table>


    </div>
</body>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

</html>
{% endautoescape %}